In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pylab as plt

## Convention

We are using the following parameters (in the same order) throughout. 

$$
\left[\sigma_{8},\,\Omega_{c},\,\Omega_{b},\,h,\,n_{s}\right]
$$

In [14]:
COLS = ['sigma8', 'Omega_cdm', 'Omega_b', 'h', 'n_s']

## Oxford DES Year 1

In [37]:
def process_des_y1(save=False, burnin = None):
    fname = 'oxford_des_y1'
    samples = np.loadtxt(f'originalsamples/{fname}.txt')[:,[2, 3, 4, 5, 6]]
    if burnin is not None:
        nsamples = samples.shape[0]
        factor = int(nsamples * burnin)
        samples = samples[factor:]
    df = pd.DataFrame(samples, columns=COLS)
    print(f'Total number of samples for DES Y1 is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [45]:
des_y1 = process_des_y1(save=True, burnin=0)

Total number of samples for DES Y1 is: 211000

In [46]:
des_y1.head()

     sigma8  Omega_cdm   Omega_b         h       n_s
0  0.832158   0.244582  0.038550  0.718967  1.010479
1  0.843884   0.238840  0.033540  0.742548  1.004260
2  0.824647   0.238919  0.030516  0.731107  0.986582
3  0.826579   0.238492  0.030632  0.732755  0.985749
4  0.829869   0.237777  0.030209  0.732332  0.994844

## Planck

[Link to file](https://irsa.ipac.caltech.edu/data/Planck/release_3/ancillary-data/cosmoparams/COM_CosmoParams_base-plikHM-TTTEEE-lowl-lowE_R3.00.zip)

In [47]:
def process_planck(save=False, burnin=None):
    fname = 'base_plikHM_TTTEEE_lowl_lowE'
    record = []
    for i in range(4):
        chain = np.loadtxt(f'originalsamples/planck/{fname}_{i+1}.txt')
        samples = chain[:,[35, 3, 2, 29, 7]]
        samples[:,3] /= 100
        samples[:,1] /= samples[:,3]**2
        samples[:,2] /= samples[:,3]**2
        if burnin is not None:
            nsamples = samples.shape[0]
            factor = int(nsamples * burnin)
            samples = samples[factor:]
        record.append(samples)
    record = np.concatenate(record)
    df = pd.DataFrame(record, columns=COLS)
    print(f'Total number of samples for Planck is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [48]:
planck = process_planck(save=True, burnin=0)

Total number of samples for Planck is: 24497

In [49]:
planck.head()

     sigma8  Omega_cdm   Omega_b         h       n_s
0  0.807906   0.272613  0.049939  0.666235  0.962315
1  0.805180   0.270038  0.049714  0.668091  0.963581
2  0.798361   0.270795  0.049673  0.666968  0.961259
3  0.799022   0.272212  0.049881  0.665942  0.960313
4  0.805950   0.271191  0.049822  0.666870  0.962265

## Hybrid KiDS 1000

[Link to file](https://desdr-server.ncsa.illinois.edu/despublic/y3a2_files/y3a2_joint-des-kids/chains/chain_kids1000_hybrid_analysis.txt)

In [50]:
def process_kids1000(save=False, burnin=None):
    fname = 'hybrid_kids_1000'
    samples = np.loadtxt(f'originalsamples/{fname}.txt')[:,[12, 8, 9, 10, 11]]
    samples[:,1] = samples[:,1] / samples[:,3]**2
    samples[:,2] = samples[:,2] / samples[:,3]**2
    if burnin is not None:
        nsamples = samples.shape[0]
        factor = int(nsamples * burnin)
        samples = samples[factor:]
    df = pd.DataFrame(samples, columns=COLS)
    print(f'Total number of samples for KiDS 1000 is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [57]:
kids_1000 = process_kids1000(save=True, burnin=0.5)

Total number of samples for KiDS 1000 is: 3800

In [58]:
kids_1000.head()

     sigma8  Omega_cdm   Omega_b         h       n_s
0  0.738190   0.402422  0.036797  0.758740  0.884047
1  0.802474   0.325707  0.039562  0.761983  0.913032
2  0.691177   0.180095  0.034961  0.763699  1.066213
3  0.771201   0.224764  0.038977  0.809737  0.991126
4  0.784293   0.153960  0.032782  0.797542  1.042461

## Hybrid DES Year 3

[Link to file](https://desdr-server.ncsa.illinois.edu/despublic/y3a2_files/y3a2_joint-des-kids/chains/chain_desy3_hybrid_analysis.txt)

In [59]:
def process_des_y3(save=False, burnin=None):
    fname = 'hybrid_des_y3'
    samples = np.loadtxt(f'originalsamples/{fname}.txt')[:,[15, 11, 12, 13, 14]]
    samples[:,1] = samples[:,1] / samples[:,3]**2
    samples[:,2] = samples[:,2] / samples[:,3]**2
    if burnin is not None:
        nsamples = samples.shape[0]
        factor = int(nsamples * burnin)
        samples = samples[factor:]
    df = pd.DataFrame(samples, columns=COLS)
    print(f'Total number of samples for DES Y3 is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [63]:
des_y3 = process_des_y3(save=True, burnin=0.5)

Total number of samples for DES Y3 is: 3953

In [64]:
des_y3.head()

     sigma8  Omega_cdm   Omega_b         h       n_s
0  0.791466   0.173675  0.040865  0.784498  0.979042
1  0.768472   0.392116  0.045477  0.721464  0.935154
2  0.803997   0.279069  0.045251  0.649214  1.010002
3  0.721683   0.198288  0.048631  0.699727  1.045347
4  0.783023   0.299221  0.038992  0.703494  0.924612

# Oxford - Planck 2018

In [67]:
def process_oxford_planck_2018(save=False, burnin=None, thin = None):
    fname = 'P18_lcdm_nu'
    columns = [30, 3, 4, 5, 6]
    record = []
    for i in range(6):
        samples = np.loadtxt(f'originalsamples/{fname}/{fname}.{i+1}.txt')
        cosmologies = samples[:,columns]
        if burnin is not None:
            start = int(cosmologies.shape[0] * burnin)
            cosmologies = cosmologies[start:]
        if thin is not None:
            cosmologies = cosmologies[0::thin]
        record.append(cosmologies)
    record = np.concatenate(record)
    df = pd.DataFrame(record, columns=COLS)
    print(f'Total number of samples for Oxford Planck 2018 is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [68]:
samples = process_oxford_planck_2018(save=True, burnin=0.5, thin = None)

Total number of samples for Oxford Planck 2018 is: 23218

# Oxford - Full Dataset

In [72]:
def process_oxford_FD(save=False, burnin=None, thin=None):
    fname = 'FD_Garcia-Garcia2021_dzMarg_mMarg_nu'
    columns = [20, 3, 4, 5, 6]
    record = []
    for i in range(6):
        samples = np.loadtxt(f'originalsamples/{fname}/{fname}.{i+1}.txt')
        cosmologies = samples[:,columns]
        if burnin is not None:
            start = int(cosmologies.shape[0] * burnin)
            cosmologies = cosmologies[start:]
        if thin is not None:
            cosmologies = cosmologies[0::thin]
        record.append(cosmologies)
    record = np.concatenate(record)
    df = pd.DataFrame(record, columns=COLS)
    print(f'Total number of samples for Oxford Full Dataset is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [79]:
samples_fd = process_oxford_FD(save=True, burnin=0.5)

Total number of samples for Oxford Full Dataset is: 79588

# Oxford KiDS 1000

In [95]:
def process_oxford_kids_1000(save=False, burnin=None, thin=None):
    fname = 'k1000_baryons_nocuts_nla_nside4096_lmax4500_lmin100_GNG'
    columns = [28, 27, 4, 5, 6]
    record = []
    for i in range(4):
        samples = np.loadtxt(f'originalsamples/{fname}/{fname}.{i+1}.txt')
        cosmologies = samples[:,columns]
        if burnin is not None:
            start = int(cosmologies.shape[0] * burnin)
            cosmologies = cosmologies[start:]
        if thin is not None:
            cosmologies = cosmologies[0::thin]
        record.append(cosmologies)
    record = np.concatenate(record)
    df = pd.DataFrame(record, columns=COLS)
    print(f'Total number of samples for Oxford Full Dataset is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [104]:
samples_kids_1000 = process_oxford_kids_1000(save=True, burnin=0.5)

Total number of samples for Oxford Full Dataset is: 147299

# Oxford - DES Y3

In [101]:
def process_oxford_desy3(save=False, burnin=None, thin=None):
    fname = 'desy3wl_baryons_nocuts_nla_nside4096_lmax4500_lmin20_GNG'
    columns = [26, 25, 4, 5, 6]
    record = []
    counts = 0
    for i in range(4):
        samples = np.loadtxt(f'originalsamples/{fname}/{fname}.{i+1}.txt')
        counts += samples.shape[0]
        cosmologies = samples[:,columns]
        if burnin is not None:
            start = int(cosmologies.shape[0] * burnin)
            cosmologies = cosmologies[start:]
        if thin is not None:
            cosmologies = cosmologies[0::thin]
        record.append(cosmologies)
    record = np.concatenate(record)
    df = pd.DataFrame(record, columns=COLS)
    print(f'Total number of samples for Oxford Full Dataset is: {df.shape[0]}')
    if save:
        df.to_csv(f'samples/{fname}.csv')
    return df

In [105]:
samples_desy3 = process_oxford_desy3(save=True, burnin=0.5)

Total number of samples for Oxford Full Dataset is: 278416

# KiDS-1000 Asgari (Bandpowers)

In [20]:
def process_kids_1000_asgari(save=False, burnin=None, thin=None, method = 'bp'):
    # we can choose between bp, cosebis, xipm
    fname = f'originalsamples/kids_1000_asgari/{method}/chain/output_multinest_C.txt'
    columns = [4, 0, 1, 2, 3]
    samples = np.loadtxt(fname)
    cosmologies = samples[:,columns]
    if burnin is not None:
        start = int(cosmologies.shape[0] * burnin)
        cosmologies = cosmologies[start:]
    if thin is not None:
        cosmologies = cosmologies[0::thin]

    cosmologies[:,1] /= cosmologies[:,3]**2
    cosmologies[:,2] /= cosmologies[:,3]**2
    df = pd.DataFrame(cosmologies, columns=COLS)
    print(f'Total number of samples for KiDS-1000 ({method}) is: {df.shape[0]}')
    if save:
        fname_save = f'kids_1000_asgari_{method}'
        df.to_csv(f'samples/{fname_save}.csv')
    return df

In [23]:
kids_1000_bp = process_kids_1000_asgari(save=True, burnin=0.5, method = 'bp')
kids_1000_cosebis = process_kids_1000_asgari(save=True, burnin=0.5, method = 'cosebis')
kids_1000_xipm = process_kids_1000_asgari(save=True, burnin=0.5, method = 'xipm')

Total number of samples for KiDS-1000 (bp) is: 8613
Total number of samples for KiDS-1000 (cosebis) is: 8225
Total number of samples for KiDS-1000 (xipm) is: 8603

# ACT DR4 - Constraints from ACT DR4 TT+TE+EE (LCDM)

https://lambda.gsfc.nasa.gov/product/act/actpol_mcmc_chains_get.html

In [46]:
def process_act_dr4(save=False, burnin=None, thin = None):
    fname = 'originalsamples/ACT-DR4/CLASS2p8_ACTPol_lite_DR4_leakfix_yp2_baseLCDM_taup_hip_R0p01'
    columns = [16, 6, 5, 10, 3]
    record = []
    for i in range(4):
        samples = np.loadtxt(f'{fname}.{i+1}.txt')
        cosmologies = samples[:,columns]
        if burnin is not None:
            start = int(cosmologies.shape[0] * burnin)
            cosmologies = cosmologies[start:]
        if thin is not None:
            cosmologies = cosmologies[0::thin]
        record.append(cosmologies)
    record = np.concatenate(record)
    record[:,3] /= 100
    record[:,1] /= record[:,3]**2
    record[:,2] /= record[:,3]**2
    df = pd.DataFrame(record, columns=COLS)
    print(f'Total number of samples for ACT DR4 is: {df.shape[0]}')
    if save:
        fname_save = 'act_dr4_tt_te_ee'
        df.to_csv(f'samples/{fname_save}.csv')
    return df

In [47]:
act_dr4 = process_act_dr4(save=True, burnin=0.0)

Total number of samples for ACT DR4 is: 22019

In [48]:
act_dr4.head()

     sigma8  Omega_cdm   Omega_b         h       n_s
0  0.812122   0.249928  0.048015  0.684685  0.989193
1  0.802679   0.243720  0.046315  0.689091  1.016293
2  0.803326   0.245204  0.046520  0.688056  1.016050
3  0.803141   0.239217  0.044790  0.691705  1.037048
4  0.794249   0.218625  0.042794  0.710713  1.026268

In [49]:
act_dr4.describe()

             sigma8     Omega_cdm       Omega_b             h           n_s
count  22019.000000  22019.000000  22019.000000  22019.000000  22019.000000
mean       0.819396      0.250683      0.046132      0.683380      1.011444
std        0.016474      0.019272      0.001988      0.015416      0.015529
min        0.755723      0.186833      0.039373      0.626179      0.955209
25%        0.808547      0.237332      0.044775      0.672710      1.000897
50%        0.819749      0.249999      0.046097      0.683207      1.011294
75%        0.830600      0.263440      0.047493      0.693780      1.021656
max        0.879151      0.335824      0.054090      0.743433      1.079400